<footer id="contact">
    <div class="f-left">
        <p id="contact">Contact</p>
        <p>kevinlolaka@hotmail.fr</p>
    </div>
    <div class="f-right">
        <div class="social-media">
            <div class="sm-section">
                <a href="https://github.com/Jokastar">github</a>
            </div>
            <div class="sm-section">
                <a href="www.linkedin.com/in/kevin-lolaka-754286a2">linkedin</a>
            </div>
        </div>
        <p> 2023</p>
    </div>
</footer>