<footer id="contact">
  <div class="f-left">
    <p id="contact">Contact</p>
    <p>kevinlolaka@hotmail.fr</p>
  </div>
  <div class="f-right">
    <div class="social-media">
      <div class="sm-section">
        <a href="https://github.com/Jokastar" targer="_blank">github</a>
      </div>
      <div class="sm-section">
        <a href="www.linkedin.com/in/kevin-lolaka-754286a2" target="_blank"
          >linkedin</a
        >
      </div>
    </div>
    <p>2023</p>
  </div>
</footer>
