<footer id="contact">
    <div class="f-left">
        <p id="contact">Contact</p>
        <p>kevinlolaka@hotmail.fr</p>
    </div>
    <div class="f-right">
        <div class="social-media">
            <div class="sm-section">
                <a>github</a>
                <a>behance</a>
            </div>
            <div class="sm-section">
                <a>linkedin</a>
                <a>curriculum vitae</a>
            </div>
        </div>
        <p> 2023</p>
    </div>
</footer>