<dialog class="modal">
    <div class="cross">cross</div>
    <div class="modal-header" id="modal-header-one">
        <h1 id="modal-title"></h1>
        <span id="modal-role-desc"></span>
    </div>
    <div class="modal-header">
        <span id="modal-year"></span>
        <div class="tech-stack">
            <h2>stack technique</h2>
            <div class="tech-logos">
                <div class="tech-logo"></div>
                <div class="tech-logo"></div>
                <div class="tech-logo"></div>
                <div class="tech-logo"></div>
            </div>
        </div>
    </div>
    <div class="modal-main">
        <div class="modal-section" id="modal-presentation">
            <h2>presentation</h2>
        </div>
        <div class="modal-section" id="modal-realisation">
            <h2>realisation</h2>
        </div>
        <div class="modal-section" id="modal-illustration">
            <h2>illustration</h2>
            <div class="screenshot-grid">
                <div class="screenshot-grid-item"></div>
                <div class="screenshot-grid-item"></div>
                <div class="screenshot-grid-item"></div>
                <div class="screenshot-grid-item"></div>
            </div>
        </div>
        <div class="links">
            <div class="link">Voir site</div>
            <div class="link"> Voir code</div>
        </div>
    </div>
</dialog>