.hero-section, .portfolio-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.white-space{
    height: 5vh;
}


.hero-section h1 {
    color: var(--grey); 
}

.hero-section h1 a{
    color: var(--black);
}

.hero-section h1 a:hover{
    color: var(--blue);
}

.hero-section + .white-space{
    border-bottom: 1px solid var(--grey);
}

#portfolio h2{
    text-transform: uppercase;
    font-size: var(--h2);
}

.portfolio-grid{
    gap: 15px;
    margin-bottom: 10%;
}

.portfolio-grid-item{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    background-color: var(--light-grey);
    padding: 6%;
    color: var(--grey);
}

.g-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.g-header span:nth-of-type(2){
    font-size: 0.75rem;
}

.g-header span:nth-of-type(1){
    text-decoration: underline;
    font-size: 1rem; 
}

.g-main{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}



.g-main h3{
    margin: 0px;
    font-size: 2.2rem; 
    font-weight: 100;
    letter-spacing: -1.5px;
    color: var(--black);
    width: 65%;
}

.g-main p {
    margin: 2px 0px;
    font-size: 0.75rem; 
}

.g-main p:nth-of-type(1){
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
}
.g-main p:nth-of-type(2){
    width: 65%;

}

.white-space-2{
    height: 5vh;
}

.g-footer{
    position: absolute;
    left: 85%;
    bottom: 6%;
}

.modal{
    width: 50vw;
    background-color: var(--light-grey);
    border: none;
    z-index: 2;
    box-shadow: none; 
    outline: none; 
    font-size: var(--p);
    padding: 4%;
}

 .cross{
    height: 3vh;
    display: flex;
    justify-content: end;
}
.cross img{
    height: 100%;
}


#modal-header-one{
    border-bottom: 1px solid var(--black-grey);
}

#modal-header-one h1{
    margin: 2% 0%;
    font-size: 35px;
}

#modal-role-desc{
    display: flex;
    justify-content: end;
    font-style: italic;
    font-weight: 100;
}

.tech-stack{
    display: flex;
    flex-direction: column;
    margin: 3vh 0vh;
    
}

.tech-logos{
    display: flex;
    align-items: center;
}

.tech-logo img{
    width: 30px; 
    height: 30px;
    margin-right: 40px;

}

.tech-logo p{
    margin: 1px 0px;
    color: var(--grey);
}

.modal-section{
    color: var(--grey);
    margin-bottom: 5vh;
}

.modal-section h2, .tech-stack > h2{
    text-transform: uppercase;
    color: var(--black-grey);
}

.modal-section h2{
    border-bottom: 1px solid var(--grey);
}

.screenshot-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.screenshot-grid-item{
    background-color: var(--black-grey);
    min-height: 200px;
}

.links{
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 5% 0%;
}
.link{
    width: 120px;
    height: 35px;
    background-color: var(--black-grey);
    margin-left: 5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media  screen and (min-width:768px) {
    .hero-section + .white-space{
        height: 5vh;
    }
}

@media screen and (max-width:768px) {
    .white-space{
        height: 10vh;
    }
    .hero-section{
        grid-template-columns: 1fr;
    }

    
}

@media screen and (max-width:670px){
    .modal{
        width: 90vw;
    }
    .portfolio-grid{
        grid-template-columns: 1fr;
    }


    .tech-stack{
        margin: 4% 0%;
    }

   .screenshot-grid{
        grid-template-columns: 1fr;
    }
}